<%= render partial: 'clients/shared/banner' %>
<div class="text-center mt-5 mb-5">
  <h1 style="color:darkorange">Lottery Page</h1>
</div>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <%= link_to 'All', lottery_index_path, class: "btn btn-outline-warning#{' active' if params[:category] == 'all'}", type: "radio", for: "btnradio2", name: "btnradio" %>
  <% @categories.each do |category| %>
    <%= link_to category.name, lottery_index_path(category_id: category.id), class: "btn btn-outline-warning#{' active' if params[:category] == category.id.to_s}", type: "radio", for: "btnradio2", name: "btnradio" %>
  <% end %>
</div>

<div class="text-start mb-5 mt-5">
  <h2 style="color: darkorange">Items:</h2>
</div>

<% if @items.present? %>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-6 mb-4 ">
        <%= link_to lottery_path(item) do %>
          <div class="card" style="width: 100%;">
            <%= image_tag item.image.url, class: "card-img-top", style: "width: 150px; height: 150px;" if item.image.present? %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.status.capitalize %></p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><%= item.online_at %></small>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No items available for the selected category.</p>
<% end %>

