<div class="container", style="margin-top: 90px; margin-bottom: 50px;">
  <%= form_tag offers_path, method: :get, class: 'form-inline' do %>
    <div class="row justify-content-between">
      <div class="col-md-6">
        <div class="form-group mb-2" style="margin-left: 5px">
          <%= label_tag :genre, 'Genre', class: 'mr-2' %>
          <%= select_tag :genre, options_for_select(Offer.genres), prompt: 'Select genre', class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2" style="margin-right: 5px">
          <%= label_tag :status, 'Status', class: 'mr-2' %>
          <%= select_tag :status, options_for_select(Offer.statuses), prompt: 'Select status', class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row" style="padding-right: 5px; padding-left: 6px;">
      <div class="col-md-12 text-center">
        <%= submit_tag 'Search', class: 'btn btn-outline-secondary w-100' %>
      </div>
    </div>
  <% end %>
</div>
