<div class="d-flex justify-content-center align-items-center" style="min-height: 85vh;">
  <div class="col-md-6 col-lg-2 col-sm-8 col-10 border p-4 rounded-5">

    <div><h3 class="text-center text-muted">Admin Log in</h3></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: "form-control form-control-lg",placeholder: "Email" %>
      </div>

      <div class="form-group">
        <% f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",
                             class: "form-control form-control-lg",placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me  , class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= f.submit "Log in", class: "btn btn-warning btn-block col-12 btn-lg" %>
      </div>
    <% end %>
  </div>
</div>