
<div class="container" style="margin-top: 170px;">
  <div style="background-color: #ffd500; border-style: solid; border-color: #ffd500; text-align: center;">
    <%= link_to 'New Item', new_item_path, style: "float: right; vertical-align: center", class: "btn btn-light mt-1 me-2" %>
    <h3 class="justify-content-center">All Items</h3>
  </div>
  <table class="table table-bordered table-dark">
    <thead class="table-secondary">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Minimum Bets</th>
      <th>Batch Count</th>
      <th>Online At</th>
      <th>Offline At</th>
      <th>Start At</th>
      <th>Status</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.image.url,class: "avatar-image", style: "width: 150px; height: 150px;" if item.image.present? %></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_bets %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td><%= item.start_at %></td>
          <td><%= item.status %></td>
          <td><%= item.category.name %></td>
          <td>
            <%= link_to 'Edit', edit_item_path(item), class: "btn btn-light w-100 mb-1" %>
            <%= link_to 'Show', item_path(item), class: "btn btn-secondary w-100 mb-1" %>
            <%= button_to 'Delete', item_path(item), method: :delete, class: "btn btn-danger w-100 mb-1" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>