<%= render partial: 'clients/shared/banner' %>

<div class="empty-rectangular-box mb-3" role="alert" style="border-radius: 0;text-align: center; border: 1px solid #363636; background-color: #363636; color: white">
  Winners Feedback
</div>

<div class="row justify-content-center" >
  <div class="col-md-3 " >
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img4.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img5.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img6.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img7.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
</div>

<div class="empty-rectangular-box mb-3 mt-3" role="alert" style="border-radius: 0; text-align: center; border: 1px solid #363636; background-color: #363636; color: white;">
  Coming soon
</div>

<div class="row justify-content-center" >
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img8.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img9.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img10.jpg') %>" class="card-img-top" alt="..." style="height: 100%">

    </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100" style="background-color: black">
      <img src="<%= asset_path('banner_images/img11.jpg') %>" class="card-img-top" alt="..."style="height: 100%">

    </div>
  </div>
</div>