<nav class="navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark" style="min-height: 8vh;" >
  <div class="container-fluid d-flex justify-content-between">
    <button class="navbar-toggler btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      System Management
    </button>
    <a class="navbar-brand ms-auto me-auto"><span style="color:orange">Admin</span>Homepage</a>

    <div class="d-flex justify-content-between">
      <%= link_to 'Change Language', admin_root_path, class: "ms-2 btn btn-warning me-3"%>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>

          <div>
            <% if admin_user_signed_in? %>
              <%= link_to 'Sign out', destroy_admin_user_session_path, class: "ms-2 btn btn-warning", data: { 'turbo-method': :delete } %>
            <% else %>
              <%= link_to 'Sign in', new_admin_user_session_path, class: "ms-2 btn btn-light"%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><span style="color: orange">HOME </span>PAGE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Member Management
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "User List", users_path, class: "dropdown-item" %></li>
                <li><%= link_to "Item List", items_path, class: "dropdown-item" %></li>
                <li><%= link_to "Winner List", winners_path, class: "dropdown-item" %></li>
                <li><%= link_to "Banners", banners_path, class: "dropdown-item" %></li>
                <li><%= link_to "NewsTicker", newsticker_index_path, class: "dropdown-item" %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Hire Me pls!</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Example 2 management
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Category", categories_path, class: "dropdown-item" %></li>
                <li><%= link_to "Bets", bets_path, class: "dropdown-item" %></li>
                <li><%= link_to "Offers", offers_path, class: "dropdown-item" %></li>
                <li><%= link_to "Orders", orders_path, class: "dropdown-item" %></li>
                <li><%= link_to "Levels", member_levels_path, class: "dropdown-item" %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sana makita niyo effort ko</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>

<% if flash[:notice] %>
  <div id="notice" class="alert alert-info mt-3 alert-dismissible" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="alert" class="alert alert-danger mt-3 alert-dismissible" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>


<style>
        .alert {
            position: fixed;
            z-index: 9999; /* Adjust the z-index value if necessary */
            top: 90px;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
        }

</style>