<div class="d-flex justify-content-center align-items-center" style="background-color: #000000; margin-top: 100px;">
  <div class="text-center">
    <h1 style="color: darkorange">Invite People</h1>
    <p class="text-white">Scan the QR Code or use the invite URL:</p>
    <div class="bg-white d-flex justify-content-center align-items-center rounded-circle ms-auto me-auto" style="width: 300px; height: 300px;">
      <%= raw @qrcode_svg %>
    </div>
    <p class="text-white" style="margin-right: 10px; margin-top: 10px;"><span style="color: darkorange">Invite URL: </span><%= @promoter_email %></p>
    <div style="margin-top: 2px;margin-bottom: 5px; border-style: solid; border-color: rgba(245,199,14,0); color: #000000; background-color: rgb(255,255,255); border-radius: 10px; height: 35px">
      <p>Level: <%= @rewards.level %> share to <%= @rewards.required_members %> friends and get <%= @rewards.coins %> coins</p>
    </div>
    <h4 style="color: orange">Invited Members</h4>
    <% @invited_members.each do |invited_member| %>
      <div class="text-white" style="border-style: solid; border-color: rgba(255,220,113,0); margin-bottom: 5px" >
        <%= invited_member.email %>
      </div>
    <% end %>
  </div>
</div>
