<div class="text-center mt-xxl-5">
  <h2 style="color: darkorange">Share id: <%= @share.id %></h2>
</div>
<div class="card mb-3 me-auto ms-auto text-center " style="max-width: 540px; height: 40vh;margin-top: 10%;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag @share.picture.url, class: "avatar-image", style: "width: 300px; height: 300px;" if @share.picture.present? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @share.user&.username %></h5>
        <p class="card-text"><%= @share.comment %></p>
        <p class="card-text"><small class="text-body-secondary"><%= @share.updated_at %></small></p>
      </div>
    </div>
  </div>
</div>
