<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#notice, #alert').remove();
            }, 2000); // 2000 milliseconds = 2 seconds
        });
    </script>



    <style>
      body {
          background: black;
          height: 100%;
          overflow:auto;
          margin: 0;
          padding: 0;
      }
      .position-h {
          position: relative;
          top: 0 !important;
      }

      .top-5 {
          top: 5% !important;
      }

      footer {
          position: sticky !important;
          bottom: 0 !important;
      }

      .wrapper {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
      }

      main {
          flex-grow: 1 !important;
          padding-bottom: 20px;
      }
    </style>
  </head>

  <body class="wrapper">
    <%= render partial: 'clients/shared/client_navbar' %>
    <main class="position-h">
      <div class="container pt-lg-5" style="margin-top: 30px;">
        <% if flash[:notice] %>
          <div id="notice" class="alert alert-info mt-3 alert-dismissible" role="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div id="alert" class="alert alert-danger mt-3 alert-dismissible" role="alert">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <%= render partial: 'clients/shared/client_footer' %>
  </body>
</html>
